@use "../../styles/index.scss" as *;

.contact__details{
    margin: 20px;
}

.contact__details__block{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 0;
}

.btn__back {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 11px 50px;
    background-color: #026195;
    font-weight: 700;
    margin-top: 20px;
}